# Git ignore rules
.idea
.python-version

# Standard Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.db-journal
*.mo
*.pot
*.py[cod]
*.so
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.vscode/
*.env
*.venv
.env/
.venv/
*.tox/
.tox/
*.coverage
.coverage
.coverage.*
.cache/
*.pytest_cache/
.pytest_cache/
*.mypy_cache/
.mypy_cache/
*.hypothesis/
.hypothesis/
*.ipynb_checkpoints/
.ipynb_checkpoints/

# Exclude data folder and its subfolders
/data_test
requirements-dev.txt
vector_databases/

# claude
.claude_history/
.claude/